/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #d2b48c; /* Light brown background color */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 40px;
}

.project {
    display: flex;
    margin-bottom: 20px;
}

.project img {
    max-width: 300px;
}

.project-info {
    margin-left: 20px;
}

.about-me {
    max-width: 600px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #38a5a0;
    color: #fff;
}
