/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    color: black; /* Set text color to black */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: skyblue; /* Set background color to sky blue */
}

header {
    background-color: skyblue; /* Set background color to sky blue */
    color: black; /* Set text color to black */
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black; /* Set text color to black */
    font-weight: bold; /* Make hyperlinks bold */
}

section {
    padding: 0; /* Remove padding */
}

.project {
    display: flex;
    margin-bottom: 20px;
}

.project img {
    max-width: 300px;
}

.project-info {
    margin-left: 20px;
}

.about-me {
    max-width: 600px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: skyblue; /* Set background color to sky blue */
    color: black; /* Set text color to black */
}
