
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    color: black; 
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: skyblue; 
    padding: 20px; 
}

header {
    background-color: skyblue;
    color: black;
    padding: 10px 20px; 
}
img {
    display: block; 
}
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black; 
    font-weight: bold;  
}

section {
    padding: 0;
}

.project {
    display: flex;
    margin-bottom: 20px;
}

.project img {
    max-width: 300px;
}

.project-info {
    margin-left: 20px;
}

.about-me {
    max-width: 600px;
}

footer {
    text-align: left;
    padding: 10px 20px;
    background-color: skyblue; 
    color: black; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.index-content img {
    align-self: flex-start;
    max-width: 200px;
    margin-right: 20px;
}

.project-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-list li {
    margin-bottom: 10px;
}
